<article class="container">
	<header class="section-header">
		<a href="#" class="logo logo-link">
		    <div class="logo-top">YES</div>
		    <div class="logo-bottom">Button</div>
		</a>
		<div class="section-header-inner">
			<h2>Don't be shy!</h2>
		    <p>Got an exciting new project for Yes Button? Get in touch&hellip;</p>
		</div>
	</header>
	<section class="content">
	    <form role="form" id="contact-form" novalidate>
		    <div class="fieldset">
		    	<input type="text" name="name" class="name form-field" placeholder="Your name" autocomplete="off">
		    	<div class="error-message"></div>
		    	<input type="email" name="email" class="email form-field" placeholder="Your email" autocomplete="off">
		    	<div class="error-message"></div>
		    </div>
		    <div class="fieldset">
		    	<textarea name="message" class="message form-field" placeholder="Spill the beans&hellip;" autocomplete="off"></textarea>
		    	<div class="error-message"></div>
	    	</div>
	    	<div class="form-actions">
		    	<div class="form-messages"></div>
		    	<button type="submit" name="submit" class="submit">
			    	<span class="text">Send</span>
			    	<span class="spinner icon-loader"></span>
			    	<span class="success-icon icon-check"></span>
		    	</button>
		    </div>
	    </form>
	</section>
</article>
<footer class="footer"></footer>