<section class="hero-unit <%=inverseHero%> centered">
    <div class="hero-inner">
        <a href="#" class="logo">
            <div class="logo-top">Yes</div>
            <div class="logo-bottom">Button</div>
        </a>
        <div class="hero-content">
            <div class="intro-start">
                <div class="intro-start-inner">
                    <h2 class="title">Need a Designer?</h2>
                    <button class="yes">Yes</button>
                    <p class="small"><em>Hint: Push the YES Button.</em></p>
                </div>
            </div>
            <div class="intro-end">
                <div class="intro-end-content">
                    <h3 class="serif"><em>You're in luck&hellip;</em></h3>
                    <h1 class="title">I am a Designer</h1>
                    <p>
                        Whether you need a super ergonomic UI for your <code>new App()</code>, or a beautiful website to build your brand in <code>&lt;style&gt;</code>, <em>Yes Button has got your back.</em>
                    </p>
                    <button class="cta-button pulse">The Good Stuff</button>
                </div>
            </div>
        </div>
    </div>
</section>