<section class="hero-unit <%=inverseHero%> centered">
    <div class="hero-inner">
        <div class="hero-content">
            <figure class="hero-logo" style="background-image: url('<%=logo%>');"></figure>
            <h1 class="title"><%=name%></h1>
            <p class="description"><%=description%></p>
        </div>
    </div>
    <div class="scroll-cta">
        Scroll
        <i class="icon-arrow-down"></i>
    </div>
</section>
<section class="stack-content">
    <div class="stack-block inverse" id="ss-intro-block">
        <div class="block-content">
            <aside>
                <h2>What is SalesSeek?</h2>
                <p>
                    In a nutshell, SalesSeek is an online Sales &amp; Marketing software solution for growing b2b businesses.
                </p>
                <a href="http://salesseek.net/" target="_blank" class="btn btn-green external-link">Visit the website<i class="icon-open"></i></a>
            </aside>
            <figure>
                <img data-original="img-src/salesseek/ss-intro-devices.png" class="lazy">
            </figure>
        </div>
    </div>
    <div class="stack-block" id="ss-tables-block">
        <div class="block-content">
            <header class="stack-block-header">
                <h2>Starting at the beginning…</h2>
                <p>
                    I was the second to be hired at SalesSeek, spearheading front-end development and all aspects of design from the very beginning. Initially, SalesSeek was built as a web app. This inevitably defined a blueprint for user-experience, as many users are familiar and comfortable with the paradigms of browser-based applications.
                </p>
                <p>
                    At the beginning, there was a lot of focus on creating rock-solid tables, lists and other standard components for the <em>bread and butter</em> of the app's UI – augmented by extensive research of web design conventions, of course.
                </p>
            </header>
            <section>
                <figure>
                    <img data-original="img-src/salesseek/webapp/ss-webapp-deals1.png" class="lazy">
                    <img data-original="img-src/salesseek/webapp/ss-webapp-forecasts1.png" class="lazy">
                    <img data-original="img-src/salesseek/webapp/ss-webapp-contacts1.png" class="lazy">
                </figure>
            </section>
        </div>
    </div>
    <div class="stack-block" id="ss-webapp-block">
        <div class="block-content">
            <header class="stack-block-header inverse">
                <h2>Built in the browser.</h2>
                <p>
                    For front-end development, I became proficient in a wide variety of modern web frameworks, libraries and powerful plugins – BackboneJS, Underscore, Marionette, RequireJS, d3, Handsontables, TinyMCE (below), Select2, nanoScrollerJS, and PrefixFree, to mention a few. LESS was the pre-processor of choice for CSS and Handlebars for HTML templating – with scalability in mind.
                </p>
            </header>
            <figure>
                <img data-original="img-src/salesseek/ss-macbook-mailshot.png" class="lazy">
            </figure>
        </div>
    </div>
    <div class="stack-block" id="ss-misc-block">
        <div class="block-content">
            <header class="stack-block-header">
                <h2>Many features and more!</h2>
                <p>
                    The sheer depth of functionality and range of features in SalesSeek made for some truly exciting development. Designing and coding so many different components and interactions was a huge learning experience and paved the way  for a whole new level of UI / UX for me.
                </p>
            </header>
            <aside>
                <ul>
                    <li class="ss-activity">
                        <span data-original="img-src/salesseek/ss-activity.png" class="lazy"></span>
                        <i class="icon-check"></i>
                        <h4>Activity Feed</h4>
                        <p>Add notes to contacts and deals and keep track of latest activity, such as calls, emails, and sales progress.</p>
                    </li>
                    <li class="ss-groups">
                        <span data-original="img-src/salesseek/ss-groups.png" class="lazy"></span>
                        <i class="icon-check"></i>
                        <h4>Grouping &amp; Filtering</h4>
                        <p>Extensive filtering and grouping functionality to <em>slice and dice</em> contact and deals.</p>
                    </li>
                    <li class="ss-import">
                        <span data-original="img-src/salesseek/ss-import.png" class="lazy"></span>
                        <i class="icon-check"></i>
                        <h4>Bulk Import</h4>
                        <p>Straightforward functionality for importing contacts and deals, and mapping to fields in the system.</p>
                    </li>
                </ul>
                <ul>
                    <li class="ss-tasks">
                        <span data-original="img-src/salesseek/ss-tasks.png" class="lazy"></span>
                        <i class="icon-check"></i>
                        <h4>Task Management</h4>
                        <p>Quick and easy task management and collaboration – integrated with contacts and deals.</p>
                    </li>
                    <li class="ss-mapping">
                        <span data-original="img-src/salesseek/ss-mapping.png" class="lazy"></span>
                        <i class="icon-check"></i>
                        <h4>Web Form Mapping</h4>
                        <p>Hook up a registration form on a website to capture leads and automatically import into SalesSeek.</p>
                    </li>
                    <li class="ss-content">
                        <span data-original="img-src/salesseek/ss-content.png" class="lazy"></span>
                        <i class="icon-check"></i>
                        <h4>File Storage and Sharing</h4>
                        <p>Cloud storage within SalesSeek for managing and sharing files related to contacts, deals, and email campaigns.</p>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <div class="stack-block inverse" id="ss-filters-block">
        <div class="bg lazy" data-original="img-src/salesseek/ss-filters-walkthrough.jpg"></div>
        <div class="block-content">
            <figure>
                <img data-original="img-src/salesseek/ss-filters-mockup.png" class="lazy">
            </figure>
            <aside>
                <h2>Wireframing &amp; Prototyping</h2>
                <p>
                    Every major feature went through a process of wireframing and prototyping before reaching the app. After wireframing in AI, I would prototype in the browser, using the desired technology. This allowed us to fine tune the user-experience more than prototyping software will allow, and often the prototype code would provide the basis for the production code.
                </p>
            </aside>
        </div>
    </div>
    <div class="stack-block" id="ss-dashboards-block">
        <div class="block-content">
            <header class="stack-block-header">
                <h2>Dashboards for everyone!</h2>
                <p>
                    One of the biggest challenges of working on SalesSeek was designing workflows for a wide variety of users. It was never going to be <em>one size fits all</em>, as different users have different needs. The solution was to create numerous dashboards tailored to the needs of different roles…
                </p>
            </header>
            <aside>
                <ul data-slideshow="ss-dashboards-slideshow">
                    <li data-slide="ss-dashboards-1">
                        <i class="icon-check"></i>
                        <div>
                            <h5>Sales Dashboard</h5>
                            <p class="small">Activity, Tasks, Funnel, Leads, Forecasts</p>
                        </div>
                    </li>
                    <li data-slide="ss-dashboards-2">
                        <i class="icon-check"></i>
                        <div>
                            <h5>Marketing Dashboard</h5>
                            <p class="small">KPIs, Campaigns, Cohorts, Web, Social</p>
                        </div>
                    </li>
                    <li data-slide="ss-dashboards-3">
                        <i class="icon-check"></i>
                        <div>
                            <h5>CEO Dashboard</h5>
                            <p class="small">Teams, Pipeline, Funnels, Revenue Planner</p>
                        </div>
                    </li>
                </ul>
            </aside>
            <figure class="slideshow" id="ss-dashboards-slideshow">
                <ul>
                    <li id="ss-dashboards-1"><img data-original="img-src/salesseek/webapp/ss-webapp-dashboard1.png" class="lazy"></li>
                    <li id="ss-dashboards-2"><img data-original="img-src/salesseek/webapp/ss-webapp-marketing2.png" class="lazy"></li>
                    <li id="ss-dashboards-3"><img data-original="img-src/salesseek/webapp/ss-webapp-ceo1.png" class="lazy"></li>
                </ul>
            </figure>
        </div>
    </div>
    <div class="stack-block inverse" id="ss-datavis-block">
        <div class="block-content">
            <header class="stack-block-header">
                <h2>Dynamic data visualisation.</h2>
                <p>
                    The web app boasts an impressive collection of visualisations designed to display data intelligently, informatively and beautifully. But it's just for show – I put a lot of emphasis on providing useful and meaningful ways of interacting with the data.
                </p>
            </header>
            <div class="slideshow-container">
                <aside data-slideshow="ss-datavis-slideshow">
                    <ul>
                        <li data-slide="ss-datavis-1">
                            <i class="icon-eye"></i>
                            <h4>Interactive Sales Funnel</h4>
                            <p class="small">
                                The funnel effectively visualises complex data sets in a simple way, with extra layers of interactivity.
                            </p>
                        </li>
                        <li data-slide="ss-datavis-2">
                            <i class="icon-eye"></i>
                            <h4>Web Analytics</h4>
                            <p class="small">
                                The web section visualises all apsects of website traffic, with powerful filtering functionality.
                            </p>
                        </li>
                    </ul>
                    <ul>
                        <li data-slide="ss-datavis-3">
                            <i class="icon-eye"></i>
                            <h4>Geographical Data</h4>
                            <p class="small">
                                A world map visualisation displays website traffic by location and popularity.
                            </p>
                        </li>
                        <li data-slide="ss-datavis-4">
                            <i class="icon-eye"></i>
                            <h4>Forecasting Charts</h4>
                            <p class="small">
                                The Revenue Planner displays forecasting figures in chart form with extensive configuration.
                            </p>
                        </li>
                    </ul>
                </aside>
                <figure class="slideshow" id="ss-datavis-slideshow">
                    <ul>
                        <li id="ss-datavis-1"><img data-original="img-src/salesseek/webapp/ss-webapp-funnel1.png" class="lazy"></li>
                        <li id="ss-datavis-2"><img data-original="img-src/salesseek/webapp/ss-webapp-web1.png" class="lazy"></li>
                        <li id="ss-datavis-3"><img data-original="img-src/salesseek/webapp/ss-webapp-web2.png" class="lazy"></li>
                        <li id="ss-datavis-4"><img data-original="img-src/salesseek/webapp/ss-webapp-revenue1.png" class="lazy"></li>
                    </ul>
                </figure>
            </div>
        </div>
    </div>
    <div class="stack-block" id="ss-pipeline-block">
        <div class="block-content">
            <figure class="slideshow" id="ss-pipeline-slideshow">
                <ul>
                    <li id="ss-pipeline-1"><img data-original="img-src/salesseek/ss-pipeline1.png" class="lazy"></li>
                    <li id="ss-pipeline-2"><img data-original="img-src/salesseek/ss-pipeline2.png" class="lazy"></li>
                </ul>
            </figure>
            <aside>
                <h2>Pipeline widget</h2>
                <p>
                    The pipeline widget is a good example of when it made more sense to be sparing with visualisation. In some instances, users were more concerned with <em>number crunching</em> than measuring performance visually.
                </p>
            </aside>
        </div>
    </div>
    <div class="stack-block inverse" id="ss-campaign-block">
        <div class="block-content">
            <header class="stack-block-header">
                <h2>Campaign widget</h2>
                <p>
                    This widget was particularly enjoyable to design. I made use of bold, contrasting colours and simple block forms to really draw the eye to the 'good news' – big splashes of colour communicate very effectively when a campaign is going well. The interactivity of this widget allowed users highlighting finer details in the data, and also provided some eye-candy!
                </p>
            </header>
            <figure class="slideshow" id="ss-campaign-slideshow">
                <ul>
                    <li id="ss-campaign-1"><img data-original="img-src/salesseek/ss-campaign1.png" class="lazy"></li>
                    <li id="ss-campaign-2"><img data-original="img-src/salesseek/ss-campaign2.png" class="lazy"></li>
                    <li id="ss-campaign-3"><img data-original="img-src/salesseek/ss-campaign3.png" class="lazy"></li>
                    <li id="ss-campaign-4"><img data-original="img-src/salesseek/ss-campaign4.png" class="lazy"></li>
                </ul>
            </figure>
        </div>
    </div>
    <div class="stack-block" id="ss-mockups-block">
        <div class="block-content">
            <aside>
                <h2>New beginnings</h2>
                <p>
                    Soon after the web app was released and the business gained customers, development began on the mobile app. This new chapter presented an opportunity to address some existing UX issues by starting on a relatively clean slate.
                </p>
                <p>
                    With the knowledge gained from designing and building the web app, I put my main focus on improving the userflows and overall usability of the product. This involved a lot of wireframing and prototyping with Invision.
                </p>
                <a href="https://invis.io/BE2AXVCYA" target="_blank" class="btn btn-green external-link">View the prototype<i class="icon-open"></i></a>
            </aside>
            <figure>
                <img data-original="img-src/salesseek/ss-iphone-mockups.jpg" class="lazy">
            </figure>
        </div>
    </div>
    <div class="stack-block" id="ss-iphone-block">
        <div class="block-content">
            <figure>
                <ul>
                    <li>
                        <img data-original="img-src/salesseek/ss-iphone-mario.png" class="lazy">
                    </li>
                    <li>
                        <img data-original="img-src/salesseek/ss-iphone-funnel.png" class="lazy">
                    </li>
                    <li>
                        <img data-original="img-src/salesseek/ss-iphone-menu.png" class="lazy">
                    </li>
                </ul>
            </figure>
            <aside>
                <h4 class="serif muted"><em>Introducing…</em></h4>
                <h2>SalesSeek for iPhone</h2>
                <p>
                    The SalesSeek iPhone App offers a subset of the features of the web app, but is designed to deliver so much more. By streamlining and simplifying the UI, the workflow of an average salesperson on the move is significantly improved.
                </p>
                <a href="https://itunes.apple.com/us/app/salesseek/id1046361300" target="_blank" class="app-store-link">
                    <img data-original="img-src/app-store-badge.png" class="lazy">
                </a>
            </aside>
        </div>
    </div>
    <div class="stack-block" id="ss-iphone-features-block">
        <div class="block-content">
            <header class="stack-block-header">
                <h2>Superior user experience</h2>
                <p>
                    Some of the key features of the web app were reimagined for the iPhone app to improve the overall user-experience.
                </p>
            </header>
            <div class="slideshow-container">
                <figure class="slideshow iphone-slideshow" id="ss-iphone-slideshow">
                    <ul>
                        <li id="ss-iphone-1"><img data-original="img-src/salesseek/iphone/ss-iphone-funnel-activity1.png" class="lazy"></li>
                        <li id="ss-iphone-2"><img data-original="img-src/salesseek/iphone/ss-iphone-funnel-drag1.png" class="lazy"></li>
                        <li id="ss-iphone-3"><img data-original="img-src/salesseek/iphone/ss-iphone-deal-detail1.png" class="lazy"></li>
                        <li id="ss-iphone-4"><img data-original="img-src/salesseek/iphone/ss-iphone-person-edit.png" class="lazy"></li>
                        <li id="ss-iphone-5"><img data-original="img-src/salesseek/iphone/ss-iphone-activity.png" class="lazy"></li>
                        <li id="ss-iphone-6"><img data-original="img-src/salesseek/iphone/ss-iphone-tasks1.png" class="lazy"></li>
                    </ul>
                    <div class="iphone iphone-slideshow"></div>
                </figure>
                <aside class="features-left" data-slideshow="ss-iphone-slideshow">
                    <ul>
                        <li data-slide="ss-iphone-1">
                            <i class="icon-check"></i>
                            <h5>Sales Funnel</h5>
                            <p class="small">Better than ever with a streamlined UI and more vibrant colour key.</p>
                        </li>
                        <li data-slide="ss-iphone-2">
                            <i class="icon-check"></i>
                            <h5>Funnel Interaction</h5>
                            <p class="small">Changing deal phase is as easy as drag-and-drop, but more fun!</p>
                        </li>
                        <li data-slide="ss-iphone-3">
                            <i class="icon-check"></i>
                            <h5>Detail Views</h5>
                            <p class="small">New and improved related-item creation and navigation.</p>
                        </li>
                    </ul>
                </aside>
                <aside class="features-right" data-slideshow="ss-iphone-slideshow">
                    <ul>
                        <li data-slide="ss-iphone-4">
                            <i class="icon-check"></i>
                            <h5>Simple Forms</h5>
                            <p class="small">Super minimal yet highly usable forms to create and edit items.</p>
                        </li>
                        <li data-slide="ss-iphone-5">
                            <i class="icon-check"></i>
                            <h5>Activity Feed</h5>
                            <p class="small">Even more readable and offering quick and easy filtering.</p>
                        </li>
                        <li data-slide="ss-iphone-6">
                            <i class="icon-check"></i>
                            <h5>Tasks</h5>
                            <p class="small">The tasks UI translated easily to the mobile with even better UX.</p>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
    <div class="stack-block inverse" id="ss-devices-block">
        <div class="block-content">
            <aside>
                <h2>Multi-device design</h2>
                <p>
                    Designing for one device is a challenge in itself, but sometimes when the scope is much broader, you can find inspiration from design patterns on other devices. For example, the stacked vertical-column layout for the web app was initially designed with mobile and tablet in mind. The ultimate goal was to provide a seamless and consistent user-experience across all devices.
                </p>
            </aside>
            <figure>
                <img data-original="img-src/salesseek/ss-devices.png" class="lazy">
            </figure>
        </div>
    </div>
    <div class="stack-block" id="ss-icons-block">
        <div class="block-content">
            <header class="stack-block-header">
                <h2>Logo &amp; custom icons.</h2>
            </header>
            <ul>
                <li>
                    <figure>
                        <img data-original="img-src/salesseek/ss-logo-grid2.png" class="lazy">
                    </figure>
                    <aside>
                        <h4>Logo</h4>
                        <p>
                            The two halves of the 'S' represent the two worlds of Sales and Marketing and the circle represents a symbolic integration of the two.
                        </p>
                    </aside>
                </li>
                <li>
                    <figure>
                        <img data-original="img-src/salesseek/ss-app-icon.png" class="lazy">
                    </figure>
                    <aside>
                        <h4>App Icon</h4>
                        <p>
                            The app icon was designed with consideration for the bold stylistic changes of iOS 7 and the design trends that shortly followed.
                        </p>
                    </aside>
                </li>
                <li>
                    <figure>
                        <img data-original="img-src/salesseek/ss-custom-icons.png" class="lazy">
                    </figure>
                    <aside>
                        <h4>Custom Icons</h4>
                        <p>
                            Various custom icons were designed for stylistic consistency in the UI and purpose-built to scale for pixel-perfection.
                        </p>
                    </aside>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer class="footer"></footer>