/*------------------------------------------------------------------------------------------------------------------------
	Author: Sean Goresht
	www: http://seangoresht.com/
	github: https://github.com/srsgores
	twitter: http://twitter.com/S.Goresht

	Licensed under the GNU Public License

	=============================================================================
	Filename:  loaders
	=============================================================================
	This file contains css3 loaders for ajax.
--------------------------------------------------------------------------------------------------------------------- */

/* =============================================================================
CSS loaders
========================================================================== */

.loader-base {
	width: 2em;
	height: 2em;
	margin: @margin auto;
	border: 5px solid @textColor;
	border-right-color: transparent;
	.border-radius(50%);
	box-shadow: 0 0 1.5em 0.1em @secondary;
	animation: loader-spin 1s infinite linear;
	&:extend(.fixed);
	top: 50%;
	left: 50%;
	transition: top 2s ease;
	&.hidden {
		top: -200%;
	}
}

//for loading cursor
.container.loading {
	cursor: wait;
}

.loader {
	&:extend(.loader-base);
	&:after {
		content: "Loading...";
		&:extend(.medium);
		font-weight: @headingsFontWeight;
	}
}

/* =============================================================================
Loader Animations
========================================================================== */

@keyframes loader-spin {
	from {
		transform: rotate(0deg);
		opacity: 0.2;
	}
	50% {
		transform: rotate(180deg);
		opacity: 1;
	}
	to {
		transform: rotate(360deg);
		opacity: 0.2;
	}
}


.pulse {
	animation: pulse @slower infinite alternate ease-out;

	&:focus,
	&:hover {
		animation: none;
	}
}

@keyframes pulse {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.5;
	}
}


.shimmer-attr(@color) {
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: @color;
}

.shimmer-x (@color: @linkColor, @shimmer: @wt9) {
	background: linear-gradient(to right, @color 0%, @shimmer 50%, @color 100%);
	background-size: 100px 100%;
	animation: shimmer-x 2500ms infinite;
	.shimmer-attr(@color);
}

.text-shimmer-x (@color, @shimmer) {
	.shimmer-x(@color, @shimmer);
	color: @wt0;
	-webkit-background-clip: text;
}

.shimmer-y (@color: @linkColor, @shimmer: @wt9) {
	background: linear-gradient(to bottom, @color 0%, @shimmer 50%, @color 100%);
	background-size: 100% 100px;
	animation: shimmer-y 2500ms infinite;
	.shimmer-attr(@color);
}

.text-shimmer-y (@color, @shimmer) {
	.shimmer-y(@color, @shimmer);
	color: @wt0;
	-webkit-background-clip: text;
}

@keyframes shimmer-x {
  0% {
    background-position: -150px 0%;
  }
  100% {
    background-position: 150px 0%;
  }
}

@keyframes shimmer-y {
  0% {
    background-position: 0% 150px;
  }
  100% {
    background-position: 0% -150px;
  }
}


/* * * * * * * * * * * * * * * * * * * * *\
  CSShake :: shake-slow
  v1.5.0
  CSS classes to move your DOM
  (c) 2015 @elrumordelaluz
  http://elrumordelaluz.github.io/csshake/
  Licensed under MIT
\* * * * * * * * * * * * * * * * * * * * */
.shake-slow{display:inline-block;transform-origin:center center}.shake-freeze,.shake-constant.shake-constant--hover:hover,.shake-trigger:hover .shake-constant.shake-constant--hover{animation-play-state:paused}.shake-freeze:hover,.shake-trigger:hover .shake-freeze,.shake-slow:hover,.shake-trigger:hover .shake-slow{animation-play-state:running}@keyframes shake-slow{2%{transform:translate(1px, 7px) rotate(-1.5deg)}4%{transform:translate(6px, -6px) rotate(-1.5deg)}6%{transform:translate(5px, 4px) rotate(0.5deg)}8%{transform:translate(10px, -7px) rotate(2.5deg)}10%{transform:translate(-6px, 10px) rotate(2.5deg)}12%{transform:translate(-6px, -6px) rotate(-0.5deg)}14%{transform:translate(-4px, 9px) rotate(-2.5deg)}16%{transform:translate(-4px, 4px) rotate(1.5deg)}18%{transform:translate(-2px, -3px) rotate(-2.5deg)}20%{transform:translate(3px, 9px) rotate(2.5deg)}22%{transform:translate(1px, -4px) rotate(0.5deg)}24%{transform:translate(9px, 3px) rotate(3.5deg)}26%{transform:translate(-3px, 3px) rotate(-1.5deg)}28%{transform:translate(10px, -7px) rotate(3.5deg)}30%{transform:translate(-6px, -1px) rotate(3.5deg)}32%{transform:translate(-5px, 8px) rotate(-2.5deg)}34%{transform:translate(2px, -2px) rotate(3.5deg)}36%{transform:translate(0px, 3px) rotate(-0.5deg)}38%{transform:translate(-9px, -7px) rotate(-0.5deg)}40%{transform:translate(1px, -1px) rotate(0.5deg)}42%{transform:translate(-9px, 8px) rotate(0.5deg)}44%{transform:translate(1px, -2px) rotate(-0.5deg)}46%{transform:translate(-4px, -8px) rotate(1.5deg)}48%{transform:translate(-7px, 0px) rotate(0.5deg)}50%{transform:translate(6px, -7px) rotate(-2.5deg)}52%{transform:translate(-1px, -2px) rotate(-2.5deg)}54%{transform:translate(8px, 0px) rotate(2.5deg)}56%{transform:translate(-5px, -3px) rotate(2.5deg)}58%{transform:translate(5px, 2px) rotate(-2.5deg)}60%{transform:translate(5px, -3px) rotate(-1.5deg)}62%{transform:translate(1px, -8px) rotate(-1.5deg)}64%{transform:translate(7px, -7px) rotate(0.5deg)}66%{transform:translate(5px, -8px) rotate(1.5deg)}68%{transform:translate(-9px, -6px) rotate(3.5deg)}70%{transform:translate(-2px, -1px) rotate(-2.5deg)}72%{transform:translate(-4px, 3px) rotate(-2.5deg)}74%{transform:translate(8px, -7px) rotate(1.5deg)}76%{transform:translate(-2px, 7px) rotate(-1.5deg)}78%{transform:translate(3px, 7px) rotate(-1.5deg)}80%{transform:translate(1px, -3px) rotate(1.5deg)}82%{transform:translate(-6px, -4px) rotate(0.5deg)}84%{transform:translate(6px, 6px) rotate(-1.5deg)}86%{transform:translate(0px, -2px) rotate(-1.5deg)}88%{transform:translate(9px, -3px) rotate(-0.5deg)}90%{transform:translate(1px, 0px) rotate(1.5deg)}92%{transform:translate(0px, -6px) rotate(-1.5deg)}94%{transform:translate(-1px, -2px) rotate(2.5deg)}96%{transform:translate(5px, 1px) rotate(-2.5deg)}98%{transform:translate(4px, 0px) rotate(-0.5deg)}0%,100%{transform:translate(0, 0) rotate(0)}}.shake-slow:hover,.shake-trigger:hover .shake-slow,.shake-slow.shake-freeze,.shake-slow.shake-constant{animation:shake-slow 4s ease-in-out infinite}

