/*------------------------------------------------------------------------------------------------------------------------

    Author: Sean Goresht
    www: https://seangoresht.com/
    github: https://github.com/srsgores

    twitter: http://twitter.com/S.Goresht

    Licensed under the GPL License
    Date: December 2013

    ======================================
    File:  mixins.less
    ======================================
    This file will allows for more readable code.  Use these by placing the . operator with the selected class you would like to apply.
    Also, make sure to include this file: @include "mixins.less"

--------------------------------------------------------------------------------------------------------------------- */

.pie() when (@pie = true) {
	behavior: url(@pieDirectory);
}

.border-box {
    box-sizing: border-box;
    .pie();
}

.padding-fix {
	background-clip: padding-box;
	.pie();
}

/* =============================================================================
Site-wide rules
========================================================================== */
.border-radius(@borderRadius: 5px) {
	border-radius: @borderRadius;
	.padding-fix;
}

// Prefix-free doesn't seem to affect the placeholder properties
// DOESN'T WORK!!
.placeholder(@color, @focus) {
    &::-webkit-input-placeholder { color: @color; }
    &:-ms-input-placeholder { color: @color; }
    &::-moz-placeholder { color: @color; }
    &:-moz-placeholder { color: @color; }

    &:focus {
        &::-webkit-input-placeholder { color: @focus; }
        &:-ms-input-placeholder { color: @focus; }
        &::-moz-placeholder { color: @focus; }
        &:-moz-placeholder { color: @focus; }
    }
}


// UTILITY MIXINS
// --------------------------------------------------

// Sizing shortcuts
// -------------------------
.size(@height, @width) {
	width: @width;
	height: @height;
}

.square(@size) {
	.size(@size, @size);
}

// IE7 inline-block
// ----------------
.ie7-inline-block() {
	*display: inline; /* IE7 inline-block hack */
	*zoom: 1;
}

.inline-block(@alignment: middle) {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: @alignment;
	.ie7-inline-block();
}

// CSS3 PROPERTIES
// --------------------------------------------------

// Resize anything
.resizable(@direction) {
	resize: @direction; // Options: horizontal, vertical, both
	overflow: auto; // Safari fix
}


// ELEMENTS
// --------------------------------------------------

.arrow(@size) {
    .square(@size);

    &:before {
        content: '';
        display: block;
    }
}

.arrow-up(@size: 14px, @color: @primary) {
    .arrow(@size);

    &:before {
        border-bottom: @size solid @color;
        border-left: @size solid transparent;
        border-right: @size solid transparent;
    }
}

.arrow-down(@size: 14px, @color: @primary) {
    .arrow(@size);

    &:before {
        border-top: @size solid @color;
        border-left: @size solid transparent;
        border-right: @size solid transparent;
    }
}

.arrow-left(@size: 14px, @color: @primary) {
    .arrow(@size);

    &:before {
        border-right: @size solid @color;
        border-top: @size solid transparent;
        border-bottom: @size solid transparent;
    }
}

.arrow-right(@size: 14px, @color: @primary) {
    .arrow(@size);

    &:before {
        border-left: @size solid @color;
        border-top: @size solid transparent;
        border-bottom: @size solid transparent;
    }
}

